<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
<!--    <bean id="User" class="hello.entity.User">-->
<!--        <constructor-arg name="id" value="1"/>-->
<!--        <constructor-arg name="name" value="name"/>-->
<!--    </bean>-->
<!--    <bean id="UserService" class="hello.service.UserService"/>-->
<!--    <bean id="OrderService" class="hello.service.OrderService"/>-->
</beans>
